nav {
  height: 100vh;
  position: fixed;
  z-index: 1;
  width: 250px;
  background: rgba(44, 108, 203, 1);
  top: 50px;

  span.wrapper {
    font-size: 25px;
    position: absolute;
    left: 40px;
    top: -35px;
    z-index: 100;
    cursor: pointer;
    transition: left 300ms;
    transition-delay: 50ms;
    width: 100px;
    display: flex;

    i {
      display: inline-block;
      margin-right: 4px;
    }

    p {
      display: inline-block;
      font-size: 13px;
      margin: 2px;
    }

  }
}

ul {
  margin-top: 0px;
  text-align: center;
  overflow-y: auto;
  height: 80%;

  li {
    margin-top: 70px;
    font-size: 13px;

    ul {
      margin-top: 0;
      display: none;
      background: rgb(8, 86, 202);

      li {
        margin-top: 25px;
        font-size: 11px;
        color: white;
      }

    }

    a {
      text-decoration: none;
      color: white;

      .fa {
        font-size: 18px;
        font-weight: 600;
      }

      span {
        margin-left: 25px;
        transition: .2s ease-in-out;

        i {
          margin-left: 20px;
          font-size: 10px;
          cursor: pointer;
        }

      }

      i {
        cursor: pointer;
      }

    }

  }

}

@media (min-width: 965px) {

  nav {
    top: 0;
    color:black;
    height: 100vh;
    background: rgba(44, 108, 203, 1);
    position: fixed;
    width: 250px;
    z-index: 1;

    span.wrapper {
      font-size: 25px;
      position: absolute;
      left: 40px;
      top: 15px;
      z-index: 100;
      cursor: pointer;
      transition: left 300ms;
      transition-delay: 50ms;
      width: 100px;
      display: flex;

      
      i {
        display: inline-block;
        margin-right: 4px;
      }

      p {
        display: inline-block;
        font-size: 13px;
        margin: 2px;
      }
    }

    ul {
      margin-top: 120px;
      text-align: center;
      overflow-y: hidden;

      li {
        margin-top: 70px;
        font-size: 13px;

        ul {
          margin-top: 0;
          display: none;
          background: rgb(8, 86, 202);

          li {
            margin-top: 25px;
            font-size: 11px;
            color: white;
          }

        }

        a {
          text-decoration: none;
          color: white;

          .fa {
            font-size: 18px;
            font-weight: 600;
          }

          span {
            margin-left: 25px;
            transition: .2s ease-in-out;

            i {
              margin-left: 20px;
              font-size: 10px;
              cursor: pointer;
            }

          }

          i {
            cursor: pointer;
          }

        }

      }

    }

  }

}
