.bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, rgba(13, 51, 73, .6), rgba(13, 100, 73, .6)), url('/../assets/images/bg-image.jpg') no-repeat center;
    z-index: -1;
}